<h1 class="fw-bolder font-monospace text-center text-primary mb-5 mt-3">Add Car</h1>

<div class="container font-monospace d-flex justify-content-center">
  <form style="width: 20rem;" [formGroup]="addCarForm" (ngSubmit)="onSubmit()">
    <div class="form-group mb-2">
      <label class="form-label text-light fw-bold" for="maker">Maker</label>
      <input formControlName="maker" type="text" class="form-control" aria-describedby="maker" placeholder="Enter Maker"
        required>
      <span class="text-danger"
        *ngIf="isSubmitted && addCarForm.get('maker')!.invalid && addCarForm.get('maker')!.errors">
        Please enter a valid Maker (max 255 characters, alphanumeric).
      </span>
    </div>
    <div class="form-group mb-2">
      <label class="form-label text-light fw-bold" for="model">Model</label>
      <input formControlName="model" type="text" class="form-control" id="model"
        aria-describedby="model" placeholder="Enter Model" required>
        <span class="text-danger"
        *ngIf="isSubmitted && addCarForm.get('model')!.invalid && addCarForm.get('model')!.errors">
        Please enter a valid Maker (max 255 characters, alphanumeric).
      </span>
    </div>
    <div class="form-group mb-2">
      <label class="form-label text-light fw-bold" for="exampleInputEmail1">Cost Per Day</label>
      <input formControlName="cost" type="number" class="form-control" id="exampleInputEmail1"
        aria-describedby="emailHelp" placeholder="Enter Cost" required min="0">
        <span class="text-danger"
        *ngIf="isSubmitted && addCarForm.get('cost')!.invalid && addCarForm.get('cost')!.errors">
        Please enter a valid cost (decimal value optional, upto 2 digit).
      </span>
    </div>
    <div class="form-group mb-2">
      <label class="form-label text-light fw-bold" for="exampleInputEmail1">Mileage Per Litre </label>
      <input formControlName="mileage" type="number" class="form-control" id="exampleInputEmail1"
        aria-describedby="emailHelp" placeholder="Enter Mileage" required min="0" max="40">
        <span class="text-danger"
        *ngIf="isSubmitted && addCarForm.get('mileage')!.invalid && addCarForm.get('mileage')!.errors">
        Please enter a valid mileage (decimal value optional, upto 2 digit. max: 40).
      </span>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Add</button>
  </form>
</div>